
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body,
main,
#fondo,
#barra nav,
#primer_contenedor,
#segundo_contenedor,
#cabezal_,
.botones_de_barra,
#boton_usuario,
.submenu-usuario,
#pestanas_ ul,
#listados_,
.estado_listas,
.detalles,
.acciones_boton,
.acciones_boton_r,
#acciones_barra,
#acciones_,
.paginador,
.paginador ul {
    display: flex;
}

main,
#fondo,
#barra nav,
#primer_contenedor,
#segundo_contenedor,
.botones_de_barra,
.submenu-usuario {
    flex-direction: column;
}

body,
#acciones_barra,
#cabezal_,
#boton_usuario,
#pestanas_ ul,
#acciones_,
.estado_listas,
.detalles,
.acciones_boton,
.acciones_boton_r {
    flex-direction: row;
}

.botones_de_barra,
#boton_usuario,
.submenu-usuario,
.estado_listas,
.detalles,
.acciones_boton,
.acciones_boton_r,
#acciones_barra {
    align-items: center;
    justify-content: center;
}

#cabezal_,
#barra nav,
#acciones_ {
    justify-content: space-between;
}

#boton_usuario,
.botones_de_barra,
.acciones_boton,
.acciones_boton_r,
#acciones_barra {
    gap: 0.75rem;
}

#listados_,
.submenu-usuario {
    gap: 0;
}

.estado_listas,
.detalles,
.acciones_boton,
.acciones_boton_r,
#acciones_barra {
    gap: 0.5rem;
    height: fit-content;
    width: fit-content;
    user-select: none;
    vertical-align: middle;
}


fieldset {
    border: #9c9a9a 0.15rem solid;
    border-radius: 0.5rem;
}

input,
select {
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: fit-content;
    border: transparent 0.15rem;
    border-bottom: rgb(91, 91, 91) 0.15rem solid;
    background-color: rgb(221, 221, 221);
    color: #000;
    transition: 0.3s;
    padding-left: .5rem;
    line-height: 1.5rem; 
}

input:hover,
select:hover {
    border-bottom-color: #000;
    transition: 0.3s;
}

input:focus,
select:focus {
    outline: none;
    border-bottom-color: rgb(58, 128, 121);
}

body {
    background-color: rgb(211, 211, 211);
    min-height: 100vh;
}

main {
    order: 2;
    height: 100%;
    width: 92%;
    position: fixed;
    left: 8%;
    padding: 2rem;
    gap: 1.25rem;
}

#fondo {
    height: 50%;
    background-image: linear-gradient(rgb(58, 128, 121), rgb(42, 96, 90), rgb(32, 70, 66));
    z-index: -999;
    position: absolute;
    width: 100%;
}


/*#fondo {
    height: 65%;
    background-image: linear-gradient(rgb(58, 128, 121), rgb(42, 96, 90), rgb(32, 70, 66),  rgb(255, 255, 255));
    z-index: -999;
    position: absolute;
    width: 100%;
}*/


#barra {
    position: fixed;
    order: 1;
    background-color: #000;
    height: 100vh;
    width: 8%;
    left: 0;
    margin: auto;
    user-select: none;
}

#barra nav {
    height: 100%;
    width: 100%;
}

#imagen {
    height: fit-content;
    width: fit-content;
    margin: 2rem auto;
}

#imagen img[alt="logo"] {
    width: 3.1rem;
    height: 3.1rem;
}

#segundo_contenedor {
    margin-bottom: 0.5rem;
    width: 100%;
}

#cabezal_ {
    height: fit-content;
    width: 100%;
}

h1 {
    font-size: 36px;
    color: #fff;
    padding: 0.1rem 0 0 0;
    user-select: none;
}

h1 text {
    font-weight: lighter;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #fff;
}

a {
    text-decoration: none;
}

#acento_barra {
    background-color: rgba(255, 255, 255, 0.45);
    transition: 0.2s;
}

#acento_barra:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

#acento_barra:active {
    background-color: rgba(255, 255, 255, 0.65);
}

.botones_de_barra {
    border: transparent 3px;
    border-radius: 0.75rem;
    height: 5rem;
    width: 6rem;
    justify-content: center;
    gap: 0.13rem;
    margin: 0.25rem auto;
    transition: 0.2s;
    text-decoration: none;
    position: relative;
}

.botones_de_barra:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.botones_de_barra:active {
    background-color: rgba(255, 255, 255, 0.65);
}

.botones_de_barra img {
    width: 1.75rem;
    height: 1.75rem;
}

.botones_de_barra p {
    color: #fff;
    font-size: 12px;
}

#boton_usuario {
    justify-content: center;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 0.3rem 0.75rem 0.3rem 1rem;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.35);
    transition: 0.2s;
    user-select: none;
    position: relative;
    z-index: 100;
}

#boton_usuario:hover p {
    color: #000;
    transition: 0.4s;
}

#boton_usuario:hover {
    background-color: rgba(255, 255, 255, 0.70);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#boton_usuario p {
    font-weight: bolder;
    font-size: 24px;
    color: #fff;
}

#boton_usuario img {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem rgb(255, 255, 255) solid;
    border-radius: 50%;
    transition: 0.3s;
}

#boton_usuario:hover > img {
    border: 0.1rem rgb(0, 0, 0) solid;
}

.submenu-usuario {
    list-style: none;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.45);
    width: 100%;
}

.submenu-usuario:hover {
    background-color: rgba(255, 255, 255, 0.65);
}

#boton_usuario:hover > .submenu-usuario {
    opacity: 1;
    visibility: visible;
}

.submenu-usuario li {
    width: 100%;
    padding: 0;
}

.submenu-usuario li a,
.submenu-usuario li #salir_sesion {
    display: block;
    color: #000;
    font-weight: bolder;
    padding: 0.75rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    margin: 0;
    border: none;
    text-align: left;
    height: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.submenu-usuario li a:hover,
.submenu-usuario li #salir_sesion:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: #000;
}

.submenu-usuario li #salir_sesion {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    width: 100%;
}

#pestanas_ {
    width: 100%;
}

#pestanas_ ul {
    height: fit-content;
    list-style: none;
}

.pestanas_accion {
    margin-right: 1rem;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0;
    font-weight: bold;
    transition: 0.2s;
    user-select: none;
    color: #ffffffcf;
    border-bottom: transparent 0.15rem;
    cursor: pointer;
}

.pestanas_accion:hover {
    color: #fff;
    border-bottom: #ffffff46 0.15rem solid;
}

.pestanas_accion:active {
    color: #9c9a9a;
    border-bottom: #9c9a9a 0.15rem solid;
}

#acento_pestanas {
    color: #fff;
    border-bottom: #fff 0.15rem solid;
    transition: 0.2s;
}

#acento_pestanas:hover {
    color: #ffffffcf;
    border-bottom: #ffffffcf 0.15rem solid;
}

#acento_pestanas:active {
    color: #9c9a9a;
    border-bottom: #9c9a9a 0.15rem solid;
}

#listados_ {
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: rgba(185, 185, 185, 0.35);
    padding: 1.2rem;
    border-radius: 3rem;
    flex-grow: 1;
    gap: .5rem;
    justify-content: space-between;
}

#contenedor_de_tabla {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    height: fit-content;
    border-radius: 1.25rem;
    overflow-x: hidden;
    overflow-y: hidden;
    border: #9c9a9a 0.1rem solid;
    border-radius: 1.5rem;
}

table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr {
    height: 1.75rem;
    table-layout: fixed;
}

table tr td,
table tr th {
    padding: 0.5rem 1rem;
}

table th {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    text-align: justify;
    z-index: 10;
}

tbody tr:nth-child(even) {
    background: rgb(220, 220, 220);
}

.columna_larga { width: 15%; }
.columna_media { width: 10%; }
.columna_corta { width: 5%; }

.estado_listas {
    text-align: center;
    border-radius: 1.5rem;
    color: #fff;
    font-weight: bold;
    padding: 0.25rem 0.75rem;
    border: transparent 0.1rem;
    margin: auto;
}

#estado_verde { background-color: rgb(10, 144, 0); }
#estado_amarillo { background-color: rgb(193, 106, 0); }
#estado_rojo { background-color: rgb(144, 0, 0); }

.detalles {
    background-color: rgb(0, 96, 144);
    font-weight: bold;
    color: #fff;
    margin: auto;
    padding: 0.25rem 0.75rem;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.detalles:hover {
    background-color: rgb(0, 118, 177);
}

.detalles:active {
    background-color: rgb(0, 65, 97);
}

.detalles img {
    width: 1rem;
    height: 1rem;
}

#acciones_ {
    height: fit-content;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 1rem;
    border-radius: 3rem;
    height: fit-content;
}

.icono {
    width: 1.5rem;
    height: 1.5rem;
}

.acciones_boton,
.acciones_boton_r {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0.35rem 0.75rem;
    border-radius: 1.5rem;
    border: rgb(104, 104, 104) 0.1rem solid;
    cursor: pointer;
    transition: 0.2s;
}

.acciones_boton:hover,
.acciones_boton_r:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.acciones_boton:active,
.acciones_boton_r:active {
    background-color: rgba(255, 255, 255, 0.75);
}

.acciones_boton img, 
.acciones_boton_r img {
    margin-left: 0.15rem;
}

.acciones_boton p,
.acciones_boton_r p {
    color: #000;
}

#acciones_barra {
    background-color: rgba(255, 255, 255, 0.45);
    padding: 0.35rem 0.75rem;
    border-radius: 1.5rem;
    border: rgba(104, 104, 104, 0.875) 0.1rem solid;
    transition: 0.5s;
    width: 40rem;
}

#acciones_barra:hover,
#acciones_barra:active {
    background-color: rgba(255, 255, 255, 0.55);
}

#acciones_barra input {
    width: 100%;
    height: 1rem;
    background-color: transparent;
    border: none;
    padding-left: 0.5rem;
    transition: 0.5s;
    margin: 0;
    color: rgb(0, 0, 0);
}

#acciones_barra input:hover,
#acciones_barra input:focus {
    outline: none;
}

#acciones_barra button[type="submit"] {
    border-radius: 0.75rem;
    height: 100%;
    color: #000;
    width: fit-content;
    padding: 0 .7rem;
    margin: 0;
    border: rgb(104, 104, 104) 0.1rem solid;
    background-color: rgba(255, 255, 255, 0.65);
    transition: 0.2s;
}

#acciones_barra button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 1);
}

#acciones_barra button[type="submit"]:active {
    background-color: rgb(230, 229, 229);
}

.paginador {
    justify-content: center;
    background-color: transparent;
}

.paginador ul {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    gap: .25rem;
    padding: 0;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.paginador li {
    margin: 0;
}

.paginador a,
.paginador .pagina_seleccionada {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #000;
    user-select: none;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    transition: 0.2s;
    transition: .3s;
}

.paginador li:last-child a,
.paginador li:last-child .pagina_seleccionada {
    border-right: none;
}

.paginador a:hover {
    background-color: rgba(255, 255, 255, 0.35);
    color: rgb(58, 128, 121);
    transition: .3s;
}

.paginador a:active {
    background-color: rgb(58, 128, 121);
    color: #000;
    border-color: rgb(58, 128, 121);
}

.paginador .pagina_seleccionada {
    background-color: rgb(58, 128, 121);
    color: white;
    border-color: rgb(58, 128, 121);
    font-weight: bold;
}

.label_artificial {
    font-weight: bolder;
    font-size: 20px;
}

.paginador * {
    user-select: none;
}

.icono_de_perfil img {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem rgb(255, 255, 255) solid;
    border-radius: 50%;
    transition: 0.3s;
}

.icono_de_perfil:hover > img {
    border: 0.1rem rgb(0, 0, 0) solid;
}

._indiv_uno {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    margin: 0;
    padding: 0;
}

._indiv_uno form {
    height: fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
}

._indiv_uno form button[type="submit"],
._indiv_uno  .btn_detalles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    transition: 0.3s;
    border-radius: 1.5rem;
    border: #9c9a9a 0.1rem solid;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

._indiv_uno form button[type="submit"] {
    background-color: rgb(181, 0, 0, 1);
}

._indiv_uno  .btn_detalles {
    background-color: rgb(0, 94, 181, 1);
}

._indiv_uno form button[type="submit"]:hover {
    background-color: rgb(181, 0, 0, .8);
}

._indiv_uno  .btn_detalles:hover {
    background-color: rgba(0, 94, 181, .8);
}

._indiv_uno form button[type="submit"] img,
._indiv_uno .btn_detalles img {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.35rem 0.35rem;
}

._indiv_uno form button[type="submit"]:active {
    background-color: rgb(181, 0, 0, .6);
}

._indiv_uno  .btn_detalles:active {
    background-color: rgba(0, 94, 181, .6);
}

.reportes_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: fit-content;
    height: fit-content;
    border: #9c9a9a 0.15rem solid;
    padding: 0.5rem;
    width: 100%;
    gap: .5rem;
    border-radius: 0.5rem;
}

.reportes_form div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.5rem;
    width: fit-content;
    height: fit-content;
    width: 100%;
    margin: auto;
    justify-content: space-around;
}

.reportes_form div button {
    align-self: end;
    margin: 0;
}

.reportes_form div div select {
    width: 15rem;
}

.reportes_form div div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .5rem;
    width: fit-content;
    height: fit-content;
}

#modal_contenedor_r {
    width: 37.5rem;
    background-color: #ffffff;
    border: 0.2rem rgb(211, 211, 211) solid;
    border-radius: 0.5rem;
    max-height: 90vh;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    overflow-y: auto;
    overflow-x: hidden;
    transform: scale(0.9);
    opacity: 0;
}

#modal_area_r {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}