#f_conteneuno,
.partes_uno,
#f_contenedor_dos,
#f_contenedor_tres,
#f_contenedor_cuatro,
#listados_,
.obr_indiv,
.obr_indiv_uno,
.obr_indiv_dos,
.obr_indiv_tres,
.obr_indiv_cuatro,
.imagen_contenedor_uno,
.formulario_tabla {
    display: flex;
}

#f_contenedor_uno,
#f_contenedor_dos,
#f_contenedor_tres,
#f_contenedor_cuatro {
    padding: 1rem 0;
}

#cuerpo_formulario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#f_contenedor_uno {
    flex-direction: column;
    gap: 0.5rem; 
    width: 100%;
    height: fit-content;
    align-content: center; 
    justify-content: center;
}

#f_contenedor_dos {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    height: 25rem;
}

#f_contenedor_tres {
    flex-direction: column;
    height: fit-content;
    gap: 1.5rem;
}

#f_contenedor_cuatro {
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    justify-content: space-evenly;
    height: fit-content;
}

.partes_uno {
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

.partes_uno div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: left;
}

.imagen_contenedor_uno {
    margin: 0 auto;
    display: flex;
    border-radius: .2rem;
    background-color: rgb(221, 221, 221);
    justify-content: center;
    overflow: hidden;
    align-content: center;
    border: 0.15rem rgb(170, 169, 169) solid;
    min-width: 6rem;
    min-height: 8rem;
    max-width: 28rem;
    max-height: 28rem;
}

#imagen_previa,
#imagen_previa_m {
    display: flex;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#f_contenedor_dos #contenedor_de_tabla {
    max-height: 350px;
    overflow-y: auto;
    border-radius: 1.25rem;
    overflow-x: hidden;
    border: #9c9a9a 0.1rem solid;
    position: relative;
}

#f_contenedor_dos #contenedor_de_tabla table thead tr th {
    background-image: linear-gradient(rgb(58, 128, 121), rgb(42, 96, 90), rgb(32, 70, 66));
    color: #ddd;
}

.formulario_tabla {
display: flex;
width: 100%;
height: fit-content;
flex-direction: column;
}

.formulario_tabla tbody tr {
    height: fit-content;
width: 100%;
    background-color: transparent;
}

.formulario_tabla tbody tr td {
    vertical-align: top;
}

.formulario_tabla tbody tr td div {
    flex-direction: column;
    display: flex;
    gap: .2rem;
    height: fit-content;
}

fieldset {
    border: #9c9a9a 0.15rem solid;
    border-radius: 0.5rem;
}

input,
select {
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: fit-content;
    border: transparent 0.15rem;
    border-bottom: rgb(91, 91, 91) 0.15rem solid;
    background-color: rgb(221, 221, 221);
    color: #000;
    transition: 0.3s;
    padding-left: .5rem;
    line-height: 1.5rem; 
}

input:hover,
select:hover {
    border-bottom-color: #000;
    transition: 0.3s;
}

input:focus,
select:focus {
    outline: none;
    border-bottom-color: rgb(58, 128, 121);
}

#id_formulario,
#n_reg_formulario,
#f_el_formulario,
#va_formulario,
#f_va_formulario,
#alt_formulario,
#es_con_formulario,
#f_in_formulario,
#anc_formulario,
#profun_formulario,
#pro_formulario {
    width: 14rem; 
    margin: 0 0 0 0.5rem; 
}

#ti_formulario,
#cat_formulario,
#tec_formulario,
#mat_formulario,
#col_formulario,
#are_formulario {
    width: 18rem;
    margin: 0 0 0 0.5rem; 
}

#resu_formulario {
    height: 10rem;
    width: 22.5rem;
    overflow-x: hidden;
    margin: 0;
    line-height: 1.5rem; 
}

#cuerpo_formulario .formulario_parte {
    display: none;
    transition: 0.3s ease;
}

#cuerpo_formulario .formulario_parte.mostrar {
    display: flex; 
    transition: 0.3s ease;
}

#bottom_modal {
    display: none;
    transition: 0.3s ease;
}

#bottom_modal.mostrar {
    display: flex;
    transition: 0.3s ease;
}

#primer_modal__contenedor,
#modal_area_dinamica {
    width: 47.5rem;
}