#cuerpo_formulario {
    display: flex;
}

#cuerpo_formulario {
    flex-direction: column;
    height: fit-content;
    gap: 1rem;
}

#cuerpo_formulario div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: auto;
}

input,
#resu_formulario {
    margin-left: 0.75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: fit-content;
    border: transparent 0.15rem;
    border-bottom: rgb(91, 91, 91) 0.15rem solid;
    background-color: rgb(221, 221, 221);
    color: #000;
    transition: 0.3s;
    padding-left: .5rem;
    line-height: 1.5rem; 
}

input:hover,
#resu_formulario:hover {
    border-bottom-color: #000;
    transition: 0.3s;
}

input:focus,
#resu_formulario:focus {
    border-bottom-color: rgb(58, 128, 121);
    transition: 0.3s;
    outline: none;
}

#nom_formulario {
    width: 20rem; 
}

#resu_formulario {
    height: 10rem;
    width: 20rem;
    overflow-x: hidden; 
}

#primer_modal__contenedor,
#modal_area_dinamica {
    width: fit-content;
}