/* LIMPIO */

#listados_ {
    background-color: rgb(255, 255, 255, .7);
    border: 0.2rem rgb(211, 211, 211) solid;
    flex-direction: column;
    height: 350px;
    flex-grow: 1;
    width: 100%;
    padding: 1.2rem;
    border-radius: 3rem;
}

#contenedor_de_botones {
    display: flex;
    position: relative;
    height: 100%;
    min-height: fit-content;
    overflow-y: auto;
    border-radius: 1.25rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    flex-direction: row;
}

.contenedor_mitad p {
    font-weight: bold;
    font-size: 22px;
}

.contenedor_mitad {
    display: flex;
    flex-direction: column;
    width: 28rem;
    margin-top: 1.25rem;
    text-align: center;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.imagen_contenedor_uno {
    align-self: center;
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

#imagen_previa {
    border-radius: .75rem;
    background-color: rgb(221, 221, 221);
    border: 0.15rem rgb(170, 169, 169) solid;
    transition: 0.3s;
    min-width: 9rem;
    min-height: 1rem;
    margin: .1rem;
    max-width: 19rem;
    max-height: 11rem;
}

label {
    font-weight: bold;
    user-select: none;
}

#segundoparte {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding-right: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

#segundoparte fieldset {
    width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem rgb(0, 0, 0) solid;
}

#informacion_general {
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 2rem;
}

#informacion_general div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

input,
select {
    margin-left: 0.75rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: fit-content;
    border: transparent 0.15rem;
    border-bottom: rgb(91, 91, 91) 0.15rem solid;
    background-color: rgb(221, 221, 221);
    color: #000;
    transition: 0.3s;
    padding-left: .5rem;
    line-height: 1.5rem; 
}

input:hover,
select:hover {
    border-bottom-color: #000;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-bottom-color: rgb(58, 128, 121);
    transition: 0.3s;
    outline: none;
}

#ci_formulario {
    width: 10rem; 
}

#nombre_trapiche_formulario {
    width: 30rem;
}

#nom_formulario,
#ape_formulario {
    width: 14rem; 
}

#tel_formulario,
#mail_formulario {
    width: 25rem;
}

#f_nac_formulario {
    width: 14rem; 
}

#dom_formulario {
    width: 31rem;
    margin-left: 0.75rem;
    cursor: text;
    transition: 0.3s;
    height: 3.5rem;
    overflow-x: hidden;
}

#dom_formulario:hover {
    border: transparent 0.15rem;
    border-bottom: #000 0.15rem solid;
    transition: 0.3s;
    cursor: text;
}

#dom_formulario:focus {
    border: transparent 0.15rem;
    border-bottom: rgb(58, 128, 121) 0.15rem solid;
    transition: 0.3s;
    outline: none;
}

.formulario_tabla {
    width: 100%;
    height: fit-content;
    background-color: transparent;
}

.formulario_tabla tbody tr {
    height: fit-content;
    background-color: transparent;
}

.formulario_tabla tbody tr td {
    vertical-align: top;
}

.formulario_tabla tbody tr td div {
    flex-direction: column;
    display: flex;
    gap: .2rem;
    height: fit-content;
}