.container-categoria {
    margin: 0px 0px 0px 180px;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
   box-shadow: 0 2px 10px #0056b3;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    width: 100%;
}

.mensaje-exito, .mensaje-error {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
    width: 80%;
}

.mensaje-exito {
    background-color: #0056b3;
    color: #fbfefb;
    border: 1px solid #0056b3;
}

.mensaje-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #eee;
    width: 80%;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button[type="submit"] {
    padding: 10px 15px;
    background-color: #3533cd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.tabla-categorias {
    width: 80%;
    margin-bottom: 30px;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.tabla-categorias th {
    background-color: #c8d0d8;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 12px 15px;
    text-align: center;
}

.tabla-categorias td {
    padding: 10px 12px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.tabla-categorias tr:last-child td {
    border-bottom: none;
}

.navegacion {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.navegacion a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3533cd;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.navegacion a:hover {
    background-color: #0056b3;
}

.mensaje-info {
    color: #777;
    text-align: center;
    margin-top: 20px;
}

.navegacionn {
    margin-top: 25px;
    text-align: center;
}

.navegacionn a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.navegacionn a:hover {
    text-decoration: underline;
    color: #0056b3;
}